@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-tucsan-sun: #EEC643;
  --color-onyx: #141414;
  --color-platinum: #EEF0F2;
  --color-vivid-royal: #c2c6e3;
  --color-prussian-blue: #011638;
}

body {
  background-color: var(--color-prussian-blue);
}

h1, h2, h3 {
  color: #EEC643;
  font-family: "Inter";
  font-weight: 700;
  font-variant-ligatures: common-ligatures;
  font-style: italic;
}

p, ul, li {
  color: var(--color-platinum);
  font-family: "Montserrat";
}

span {
  color: var(--color-vivid-royal);
}

.about p {
  text-align: center;
}

.book-area {
  margin-block: 10px;
}


.hobby {
  margin-block: 10px;
}

.hobby ul {
  border: 1px dashed var(--color-platinum);
}