nav a, footer a {
  color: rgb(7, 187, 166);
  font-weight: 700;
  font-size: 1.5em;
}

nav a:visited, footer a:visited {
  color: rgb(214, 136, 19);
}


header h1 {
  color: rgba(203, 82, 7, 0.975);
  text-align: center;
}


body {
  font-size: 100%;
  
  
  background: url(../assets/jpg/new_stuff/vecteezy_cracked-iridescent-and-opalescent-surface-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


nav ul {
  list-style: none;
  display: flex;
  /* column-gap: 20px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  display: flex;
  /* gap: 20px; */
  border: 5px double rgba(155, 74, 236, 0.482);
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  padding-block: 20px;
}

.card {
  background-color: rgb(43, 43, 43);
  color: rgb(62, 230, 107);
  width: 300px;
  /* height: 400px; */

  padding: 10px;
  
  border-radius: 20px;
}


.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}